In [3]:
import pandas as pd
import numpy as p
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv("cars24-car-price-cleaned.csv")

In [5]:
df.info() #info command is used to share the structure of the data frame i.e.; how many columns are there , how many columns have int, float, string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19820 entries, 0 to 19819
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   selling_price     19820 non-null  float64
 1   year              19820 non-null  float64
 2   km_driven         19820 non-null  int64
 3   mileage           19820 non-null  float64
 4   engine            19820 non-null  float64
 5   max_power         19820 non-null  float64
 6   age               19820 non-null  float64
 7   make              19820 non-null  object
 8   model             19820 non-null  object
 9   Individual        19820 non-null  int64
 10  Trustmark Dealer  19820 non-null  int64
 11  Diesel            19820 non-null  int64
 12  Electric          19820 non-null  int64
 13  LPG               19820 non-null  int64
 14  Petrol            19820 non-null  int64
 15  Manual            19820 non-null  int64
 16  5                 19820 non-null  int64
 17  >5                19820 non-null  int64
dtypes: float64(6), int64(10), object(2)
memory usage: 2.7+ MB

In [6]:
df.head()

,selling_price,year,km_driven,mileage,engine,max_power,age,make,model,Individual,Trustmark Dealer,Diesel,Electric,LPG,Petrol,Manual,5,>5
0,1.20,2012.0,120000,19.70,796.0,46.30,11.0,MARUTI,ALTO STD,1,0,0,0,0,1,1,1,0
1,5.50,2016.0,20000,18.90,1197.0,82.00,7.0,HYUNDAI,GRAND I10 ASTA,1,0,0,0,0,1,1,1,0
2,2.15,2010.0,60000,17.00,1197.0,80.00,13.0,HYUNDAI,I20 ASTA,1,0,0,0,0,1,1,1,0
3,2.26,2012.0,37000,20.92,998.0,67.10,11.0,MARUTI,ALTO K10 2010-2014 VXI,1,0,0,0,0,1,1,1,0
4,5.70,2015.0,30000,22.77,1498.0,98.59,8.0,FORD,ECOSPORT 2015-2021 1.5 TDCI TITANIUM BSIV,0,0,1,0,0,0,1,1,0

In [7]:
df.describe()

,selling_price,year,km_driven,mileage,engine,max_power,age,Individual,Trustmark Dealer,Diesel,Electric,LPG,Petrol,Manual,5,>5
count,19820.000000,19820.000000,1.982000e+04,19820.000000,19820.000000,19820.000000,19820.000000,19820.000000,19820.000000,19820.000000,19820.000000,19820.000000,19820.000000,19820.000000,19820.000000,19820.000000
mean,6.585509,2014.561453,5.815856e+04,19.503402,1475.702381,98.122907,8.438547,0.390666,0.009586,0.492583,0.000404,0.003229,0.487841,0.802674,0.835015,0.152825
std,4.847364,3.196636,5.171563e+04,4.297784,518.571223,44.761727,3.196636,0.487912,0.097442,0.499958,0.020087,0.056734,0.499865,0.397990,0.371176,0.359828
min,0.300000,1992.000000,1.000000e+02,4.000000,0.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.410000,2013.000000,3.100000e+04,16.950000,1197.000000,73.900000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
50%,5.200000,2015.000000,5.200000e+04,19.300000,1248.000000,86.800000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
75%,7.850000,2017.000000,7.400000e+04,22.320000,1582.000000,112.000000,10.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
max,20.902500,2021.000000,3.800000e+06,120.000000,6752.000000,626.000000,31.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
df["make"].nunique() # nunique will give me the unique values present in a particular problem

41

In [9]:
df["model"].nunique()

3233

In [10]:
df["make"].value_counts() # .value_count will return the total value associated with the unique value

make
MARUTI           5650
HYUNDAI          3562
HONDA            1779
MAHINDRA         1276
TOYOTA           1189
TATA              971
FORD              900
VOLKSWAGEN        761
RENAULT           636
MERCEDES-BENZ     485
BMW               483
SKODA             422
CHEVROLET         406
AUDI              324
NISSAN            289
DATSUN            170
FIAT              113
JAGUAR             80
LAND               51
VOLVO              42
JEEP               41
MITSUBISHI         39
KIA                33
PORSCHE            25
MINI               23
MG                 19
ISUZU              12
LEXUS              10
FORCE               5
BENTLEY             4
AMBASSADOR          4
OPELCORSA           3
DAEWOO              2
PREMIER             2
MASERATI            2
DC                  2
LAMBORGHINI         1
FERRARI             1
MERCEDES-AMG        1
ROLLS-ROYCE         1
OPEL                1
Name: count, dtype: int64

In [11]:
df["model"].value_counts()

model
SWIFT DZIRE VDI              288
ALTO 800 LXI                 189
WAGON R VXI                  164
SWIFT VDI                    150
SWIFT DZIRE VXI              136
                            ...
XUV300 W6 DIESEL               1
NANO STD BS IV                 1
FABIA 1.2 TDI ACTIVE           1
FIESTA PETROL STYLE            1
YARIS V OPTIONAL CVT BSIV      1
Name: count, Length: 3233, dtype: int64

In [12]:
df["make"] = df.groupby("make")["selling_price"].transform("mean")
df["make"]

0         4.684721
1         5.458819
2         5.458819
3         4.684721
4         5.858258
           ...
19815    10.532763
19816     4.684721
19817     7.182097
19818     7.315421
19819     5.979902
Name: make, Length: 19820, dtype: float64

In [13]:
df["model"] = df.groupby("model")["selling_price"].transform("mean")
df["model"]

0         1.180000
1         4.818750
2         3.394000
3         2.242676
4         6.777576
           ...
19815     7.075000
19816     7.128571
19817     4.454000
19818     8.096522
19819    11.014286
Name: model, Length: 19820, dtype: float64

In [21]:
## Step 2
#Divide the dataframe into target features and independent features

In [ ]:
scaler = MinMaxScaler()
df1 = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)  
df1

NameError: name 'MinMaxScaler' is not defined

In [10]:
y=df1["selling_price"]
x=df1.drop("selling_price",axis =1)  # Axis = 0 means rows are dropped, axis = 1 means colunms will be dropped
y.shape,x.shape                         # It is used to tell the shape of df i.e.; how many rows and columns are present

((19820,), (19820, 17))

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
model = LinearRegression()
model.fit(x_train,y_train)

NameError: name 'x_train' is not defined

In [ ]:
x_pred = model.predict(x_train)
y_pred = model.predict(x_test)
x_pred

In [ ]:
model.coef_

In [ ]:
model.intercept_

In [ ]:
model.score(x_test,y_test)

In [ ]:
y_test_predict = model.predict(x_test)
y_test_predict

In [23]:
fig = plt.figure()
plt.scatter(y_test_predict, y_test)
plt.legend()
plt.show()

NameError: name 'y_test_predict' is not defined

In [24]:
import seaborn as sns
imp = pd.DataFrame(list(zip((x_test.columns,np.abs(model.coef_))),
                        colums=['feature','coeffe'])
sns.barplot(x='features',y='coeffe',data=imp)
plt.xtickets(rotation=90)                     # zip cammand is used to pack  different data type together

SyntaxError: '(' was never closed (1875240874.py, line 2)

In [25]:
#
r^2 matrix it is a measure odf hoe much varience is capchared by regression line (defination)

SyntaxError: invalid syntax (3171012898.py, line 2)