In [21]:
#prepare a navie bayes classification model for predicting the purchanse power of user

In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score

In [46]:
df=pd.read_csv("User_Data.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [47]:
df.drop(columns = ['User ID'],axis=1,inplace=True)  #inplace is used to fix the changes or permannent the changes
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [49]:
#Label encodind
le =LabelEncoder()
df['Gender']=le.fit_transform(df['Gender']) #it converts the gender in (o and  1),it is onehot encoding
df

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

In [50]:
#split data into dependent /independent variable
X=df.iloc[:, :-1].values #it represent the rows and colums the -1 is represented as coloums (when we dont know how many coloms are their)
Y=df.iloc[:, -1].values

In [51]:
#split data into test/train set
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size =0.25,random_state =True)

In [52]:
#scale dataset
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
Y_test = sc.transform(X_test)

In [53]:
#classifier
classifier = GaussianNB()
classifier.fit(X_train,Y_train)

GaussianNB()

In [58]:
#pridiction
y_pred = classifier.predict(X_test)
#accuracy
accuracy_score(Y_test,y_pred)

ValueError: Classification metrics can't handle a mix of continuous-multioutput and binary targets