In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r"Bike_Price.csv")
df

,S.no,Bike_company,Bike_model,Manufactured_year,Engine_warranty,Engine_type,Fuel_type,CC(Cubic capacity),Fuel_Capacity,Price
0,1,Bajaj,Avenger 220,2020,5.0,Single,Petrol,220CC,10 Litres,113000
1,2,TVS,Apache RTR,2020,5.0,V-twin,Petrol,120CC,11 Litres,70000
2,3,Hero,Passion,2020,5.0,Boxer,Petrol,140CC,12 Litres,85000
3,4,Honda,Activa 3G,2020,5.0,Single,Petrol,150CC,13 Litres,90000
4,5,Suzuki,Access,2020,5.0,V-twin,Petrol,350CC,14 Litres,65000
...,...,...,...,...,...,...,...,...,...,...
303,304,Bgauss,Bgauss B8,2017,3.0,Boxer,Petrol,185CC,19 Litres,81916
304,305,Bgauss,Bgauss Radiator,2017,3.0,Boxer,Petrol,205CC,20 Litres,82666
305,306,Bgauss,Bgauss Razor,2017,3.0,Boxer,Petrol,185CC,21 Litres,83416
306,307,Bgauss,Bgauss Flash,2017,3.0,Boxer,Petrol,205CC,22 Litres,84166
307,308,Bgauss,Bgauss Hash,2017,3.0,Boxer,Petrol,220CC,23 Litres,84916

In [4]:
df1 = df.dropna() 
df1.isnull().sum()

S.no                  0
Bike_company          0
Bike_model            0
Manufactured_year     0
Engine_warranty       0
Engine_type           0
Fuel_type             0
CC(Cubic capacity)    0
Fuel_Capacity         0
Price                 0
dtype: int64

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 305 entries, 0 to 307
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   S.no                305 non-null    int64
 1   Bike_company        305 non-null    object
 2   Bike_model          305 non-null    object
 3   Manufactured_year   305 non-null    int64
 4   Engine_warranty     305 non-null    float64
 5   Engine_type         305 non-null    object
 6   Fuel_type           305 non-null    object
 7   CC(Cubic capacity)  305 non-null    object
 8   Fuel_Capacity       305 non-null    object
 9   Price               305 non-null    int64
dtypes: float64(1), int64(3), object(6)
memory usage: 26.2+ KB

In [6]:
df1.describe()

             S.no  Manufactured_year  Engine_warranty         Price
count  305.000000         305.000000       305.000000  3.050000e+02
mean   155.085246        2010.796721         6.036066  2.558728e+05
std     89.080459         105.261288         3.725182  2.962015e+05
min      1.000000         202.000000         2.000000  5.000000e+04
25%     78.000000        2017.000000         4.000000  7.500000e+04
50%    155.000000        2019.000000         5.000000  1.060000e+05
75%    232.000000        2020.000000         8.000000  3.450000e+05
max    308.000000        2050.000000        50.000000  1.779990e+06

In [7]:
df1.columns

Index(['S.no', 'Bike_company', 'Bike_model', 'Manufactured_year',
       'Engine_warranty', 'Engine_type', 'Fuel_type', 'CC(Cubic capacity)',
       'Fuel_Capacity', 'Price'],
      dtype='object')

In [8]:
df1["Bike_company"] = df1.groupby("Bike_company")["Price"].transform("mean")

C:\Users\kothu\AppData\Local\Temp\ipykernel_43172\4129767353.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Bike_company"] = df1.groupby("Bike_company")["Price"].transform("mean")